
/* Your CSS Code here. */
table, tr,th,td{
  border: 2px solid black;
	border-collapse:collapse;
	font-family: Arial, Helvetica, sans-serif;
}
th,td:hover{
  color:white;
	background-color:darkcyan;
}
.head{
background-color:lightcoral;
	color:white;
}

.first{
	background-color:lightpink;
}
.second{
	background-color:lightgray;
}
.third{
	background-color:lightblue;
}