
/* Your CSS Code here. */
table{
 border-collapse: collapse;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
tr,th,td{
  border: 2px solid black;

}
th,td:hover{
  color:white;
	background-color:darkcyan;
}
.head{
background-color:lightcoral;
	color:white;
}

.first{
	background-color:lightpink;
}
.second{
	background-color:lightgray;
}
.third{
	background-color:lightblue;
}